@font-face {
    font-family: 'Murmure';
    src: url('../public/Le_Murmure-Regular_web.woff');
}

html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;


}

canvas {
    position: absolute;
    z-index: 1;
    touch-action: none;
}

h1 {

    line-height: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    font-family: 'Murmure';
    font-size: 30vw;
    color: #dedede;
    margin: 0;
    pointer-events: none;
}